<div class="container">
  <div class="form">
{{#simple-form startingValues=currentUser.user onsubmit=(action "saveForm" currentUser.user) as |formValues| }}
    <img src="../images/bbbs.png" class="form__logo" alt="BB/BS Logo">
    <div class="form__info form__info--row">
      <div class="form__info-group form__info-group--center">
        <div class="form__frame">
          <img src="http://placekitten.com/300/300" class="form__img">
        </div>
        <button type="button" class="form__btn" {{action "choosePic" formValues}}>Upload Pic</button>
      </div>
      <div class="form__right">
        <div class="form__info-group">
          <label class="form__label" for="firstName">First Name</label>
          {{input class="form__input" type="text" value=formValues.firstName id="firstName" required=true}}
        </div>
        <div class="form__info-group">
          <label class="form__label" for="lastName">Last Name</label>
          {{input class="form__input" type="text" value=formValues.lastName id="lastName" required=true}}
        </div>
        <div class="form__info-group">
          <label class="form__label" for="Email">Email</label>
          {{input class="form__input" type="text" value=formValues.email id="Email" required=true}}
        </div>
        <div class="form__info-group">
          <label class="form__label" for="employer">Employer or School</label>
          {{input class="form__input" type="text" value=formValues.employer id="employer" required=true}}
        </div>
        <div class="form__info-group">
          <label class="form__label" for="phone">Phone</label>
          {{input class="form__input" type="text" value=formValues.phone id="phone" required=true}}
        </div>
        <div class="form__info-group">
          <label class="form__label" for="little">Little's Name</label>
          {{input class="form__input" type="text" value=formValues.little id="little" required=true}}
        </div>
      </div>
    </div>
      <div class="form__buttons">
        <button class="form__btn">Save Edits</button>
      </div>
{{/simple-form}}
  </div>
</div>
