<div class="container">
  <div class="card">
    <h5>First Name {{user.firstName}}</h5>
    <h5>Last Name {{user.lastName}}</h5>
    <h5>Email {{user.email}}</h5>
    <h5>Phone Number {{user.phone}}</h5>
    <h5>Address{{user.address}}</h5>
    <h5>Little's Name{{user.little}}</h5>
  </div>
</div>
